test.Rmd
test.log
test.pdf
test.tex
ms.gdoc
AJB_Auth_Agreement.pdf
cover-letter.docx
manuscraps.Rmd
*.log
mimulus-germination-biorxiv.zip
r0
response-to-reviewers.gdoc
AJB-D-21-00386 review 2022.pdf
response-to-reviewers.pdf
mimulus-germination-r1.zip
